data/raw/*
data/*
# Ignore NASA access logs
data/NASA_access_log_Aug95/
data/NASA_access_log_Jul95/
*.class
*.jar
*.log
pig_*.log
.DS_Store
NoSQL26_ET_project_statement.pdf
Project_evaluation_guidelines_2026.pdf
dummy